@import "../../../style/variables";

:host {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.author {
  color: $font-color-secondary;
  margin: 0 0 0.2rem 0;
  padding-bottom: 0.2rem;
  border-bottom: 1px solid $font-color-secondary;
}

.title {
  margin-top: 0;
}
