$font-family: 'Roboto', sans-serif;
$background-color: #8d8d8d;
$background-color-card: #4f5254;
$font-color-primary: #cecece;
$font-color-secondary: #868686;

$primary: #009fff;
$secondary: #868686;
