$font-family: "Roboto", sans-serif;
$background-color: #162c3c;
$background-color-card: #081c29;
$background-color-card-border: #3e6079;
$font-color-primary: #cecece;
$font-color-secondary: #868686;

$primary: #009fff;
$secondary: #162c3c;
