@import '../../../style/variables';

.search--container {
  // height: 30px;
  margin-bottom: 1rem;
}

.content {
  border-radius: 50px;
  display: flex;
  align-items: center;
  background: $background-color-card;
  position: relative;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    margin: -1px;
    border-radius: inherit;
    background: linear-gradient(
      to right,
      $background-color-card,
      $background-color-card-border
    );
  }
}

.search-button {
  width: 30px;
  height: 30px;
  font-size: 1rem;

  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.3rem;
  position: relative;
}

input {
  height: 20px;
  margin: 0 0.5rem;
  width: 100%;
  border: 0;
  padding: 0;
  background: transparent;
  color: $font-color-primary;
}
